<h1>Editing Boom</h1>
<%= form_with model:@book, local:true do |f| %>

    <div class="field">
        <lavel>Title</lavel>
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <lavel>Body</lavel>
        <%= f.text_area :body %>
    </div>
    
    <div class="actions">
        <%= f.submit 'Update Book' %>
    </div>
    
    <%= link_to "Show", book_path(@book)%> 
    <%= link_to "Back", books_path(@book) %>

<% end %>
